[user]
	# name = Your Name
	# email = you@example.com

[core]
	pager = delta
	excludesFile = ~/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3
